<?xml version="1.0" encoding="UTF-8"?>
<iso:schema    
    xmlns="http://purl.oclc.org/dsdl/schematron"  
    xmlns:iso="http://purl.oclc.org/dsdl/schematron" 
    xmlns:vml="http://varioml.org/xml/1.0"
    queryBinding='xslt2'
    schemaVersion='ISO19757-3'>                  
    <iso:title>ISO schematron validation rules for Cafe Variome data submissions</iso:title>
    <iso:ns prefix='vml' uri='http://varioml.org/xml/1.0'/> 
    
    <!-- Cafe Variome constraints  -->            
    <iso:let name="V2" value="number(//vml:cafe_variome/@schema_version)" />
    
    <iso:pattern id="cafe_variome.submission.checks">
        
        <iso:rule context="vml:cafe_variome">                                  
            <iso:assert  
                test="vml:source">Source is missing</iso:assert> 
            <iso:assert  
                test="vml:variant">Variant is missing</iso:assert> 
        </iso:rule>

        <iso:rule context="vml:cafe_variome/vml:source">                                  
            <iso:assert 
                test="@id">Source identifier is missing</iso:assert>             
            <iso:assert 
                test="vml:name">Name of source is missing</iso:assert>             
        </iso:rule>

        <!-- contact is optional, but if we have then either name or email should be present-->
        <iso:rule context="vml:cafe_variome/vml:source/vml:contact">                                  
            <iso:assert 
                test="vml:name or vml:email">Contact name or email is missing</iso:assert> 
        </iso:rule>

        <iso:rule context="vml:cafe_variome/vml:source/vml:comment">   
            <iso:assert test="not(@term='wasDerivedFrom') or @source='opmv'" >'wasDerivedFrom' cannot exist without 'opmv' name space (source)</iso:assert> 
            <iso:assert test="not(@source='opmv') or @term='wasDerivedFrom'" >opmv (open provenance mode) must have at least one predicate defined (e.g. 'wasDerivedFrom')</iso:assert>  
            <iso:assert test="not(@source='opmv' and @term='wasDerivedFrom') or not(@uri) or @uri='http://purl.org/net/opmv/ns#wasDerivedFrom'" >URI of wasDerivedFrom predicate incorrect or not found</iso:assert>  
            <iso:assert test="not(@source='opmv') or vml:db_xref">Database xref is missing in provenance content (source/comment/@source='opmv') element)</iso:assert>
            
            <iso:assert test="not(@term='disclaimer') or @source='g2p'" >'disclaimer cannot exist without 'g2p' name space (source)</iso:assert>             
            <iso:assert test="not(@term='disclaimer') or vml:text" >'disclaimer cannot exist without text element </iso:assert> 
        </iso:rule>
        
    </iso:pattern>
    
    <iso:pattern id="cafe_variome.reporting_variant.checks" >
        
        <iso:rule context="vml:cafe_variome/vml:variant">

            <iso:assert 
                test="vml:gene">Gene sequence is missing</iso:assert> 
            
            <iso:assert 
                test="vml:ref_seq">Reference sequence is missing</iso:assert> 
            
            <iso:assert 
                test="vml:name">Name is missing</iso:assert> 
            <iso:assert 
                test="vml:sharing_policy">Sharing policy of variant is missing</iso:assert> 

            <!--iso:assert test="not($V2) or vml:panel"-->         
            <iso:assert test="vml:panel">Panel is missing. Need to identify observation target (individual or panel)</iso:assert>
        </iso:rule>

        <iso:rule context="vml:seq_changes/vml:variant">
            <!-- here we do not need gene anymore  -->           
            <iso:assert 
                test="vml:ref_seq">Reference sequence is missing</iso:assert> 
            
            <iso:assert 
                test="vml:name">Name is missing</iso:assert> 

        </iso:rule>

        <iso:rule context="vml:variant/vml:name">
            <iso:assert test="not(@scheme) or upper-case(@scheme)='HGVS'">HGVS naming scheme should be used. Found: <iso:value-of select="@scheme"/> </iso:assert>
            <!-- Should use HGVS names only...
            <iso:assert test="starts-with(normalize-space(text()),'g.') or starts-with(normalize-space(text()),'c.') or starts-with(normalize-space(text()),'p.') or starts-with(normalize-space(text()),'r.')"></iso:assert>
            -->
        </iso:rule>
   
        <iso:rule context="vml:aliases/vml:variant">
            <!-- legacy variants. Only name is needed -->            
            <iso:assert 
                test="vml:name">Name is missing</iso:assert> 
            
        </iso:rule>

        <iso:rule context="vml:location">
            <iso:assert test="vml:ref_seq">Location must have reference sequence</iso:assert>
            <!-- iso:assert test="not(vml:chr)">Location entry should not have chromosome. Chromosome reference sequence should be used insead</iso:assert>
            <iso:assert test="normalize-space(vml:end) ge normalize-space(vml:start) ">Incorrect location. End shoud be larger or equal than start position</iso:assert -->
            <!-- start position is given in the relax schema-->
        </iso:rule>
        
        <iso:rule context="vml:sharing_policy">
            <iso:assert test="@type='openAccess' or @type='closedAccess' or @type='embargoedAccess' or @type='restrictedAccess'">
                Sharing policy should be either: 'closedAccess' or 'embargoedAccess' or 'restrictedAccess' or 'openAccess'
            </iso:assert>
            <iso:assert test="not(@type='embargoedAccess') or exists(child::vml:embargo_end_date)">
                Embargo end date is mandatory if sharing policy is set to embargoed 
            </iso:assert>
        </iso:rule>

        <iso:rule context="vml:variant/vml:panel" >
            <!--
            <iso:assert test="vml:phenotype or vml:individual" >Panel should have at least phenotype or individual</iso:assert>
            -->
            <!-- need to delimit use of panel to avoid misuses. We can have only following elements in panel -->
            <iso:assert test="(count(vml:dbx_ref)+count(vml:phenotype)+count(vml:individual)+count(vml:organism)+count(vml:comment)+count(vml:population)) = count(child::*)" >Element contains VarioML terms which are not part of the Cafe Variome spec</iso:assert>
            <iso:assert test="not($V2) or @id"></iso:assert>
        </iso:rule>
        
        <iso:rule context="vml:variant/vml:panel/vml:individual" >
            <!-- Individual inside panel can have only gender -->
            <iso:assert test="(count(vml:gender)) = count(child::*)" >Element panel/individual contains VarioML terms which are not part of the Cafe Variome spec</iso:assert>
        </iso:rule>
        
  
        <iso:rule context="vml:variant/vml:variant_detection" >
            <iso:assert test="@technique" >Technique missing in variant detection</iso:assert>
            <iso:assert test="@template" >Template missing in variant detection</iso:assert>
        </iso:rule>

        <iso:rule context="vml:variant/vml:frequency" >
            <!-- this is just place holder.  we no not have additional validation rules for frequencies  -->            
        </iso:rule>
        
    </iso:pattern>

    <iso:pattern id="cafe_variome.xrefs" >
        
        <iso:rule context="vml:db_xref" >
            <iso:assert test="@accession or @uri" >Accession number or URI is missing in database xref (gene or ref_seq)</iso:assert>
        </iso:rule>

        <iso:rule context="vml:gene" >
            <iso:assert test="@accession or @uri" >Accession number is missing in database xref (gene or ref_seq)</iso:assert>
            <iso:assert test="not($V2)  or upper-case(@source)='HGNC.SYMBOL' or upper-case(@source)='HGNC'" >Source of gene should be HGNC_Symbol or HGNC</iso:assert>            
        </iso:rule>
        
        <iso:rule context="vml:ref_seq" >
            <iso:assert test="@accession" >Accession number is missing in database xref (gene or ref_seq)</iso:assert>
            <iso:assert test="not($V2)  or upper-case(@source)='GENBANK' or upper-case(@source)='REFSEQ' or upper-case(@source)='ENSEMBL'" >Source of ref sequence is wrong</iso:assert>            
        </iso:rule>
        
    </iso:pattern>
    
    <iso:pattern id="cafe_variome.ontology_terms" >
        <!-- we should have atleast the term attribute -->
        <iso:rule context="vml:genetic_origin|vml:pathogenicity|vml:phenotype|vml:evidence_code|vml:use_permission|vml:variant_type|vml:consequence" >
            <iso:assert test="@term" >Ontology term (genetic_origin, pathogenicity...) should have term-attribute </iso:assert>
        </iso:rule>
        
    </iso:pattern>
    

    <iso:pattern id="cafe_variome.misc" >
        <!-- comment should have atleast the term attribute or text element-->
        <iso:rule context="vml:comment" >
            <iso:assert test="vml:text or @term" >Comment element should have text or term at least</iso:assert>
        </iso:rule>
        
    </iso:pattern>
    
</iso:schema>    